.nav {
  grid-area: nav;
  background-color: #55abf2;
  padding: 20px;
}

.nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.item a {
  color: #fff;
  text-decoration: none;
}

.item a.active {
  color: gold;
}
