.formControl {
}

.formControl.error input,
.formControl.error textarea {
  border: 1px solid tomato;
}

.formControl.error span {
  color: red;
}

.formSummaryError {
  border: 1px solid red;
  padding: 5px;
  color: red;
}
